<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :job %><br />
    <%= f.text_field :job %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location%>
  </div>

  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email%>
  </div>

  <%= f.label :avatar, "Profile Picture" %><br />
  <%= f.file_field :avatar %><br />

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  Choose your privacy settings:<br />
  <%= f.label :privacy %><br />

  <%= f.radio_button :privacy, "public", :checked => true %>
    <%= f.label :privacy, "Public", :value => "public"  %> <br />
    
    <%= f.radio_button :privacy, "semi-private" %>
    <%= f.label :privacy, "Semi-Private", :value => "semi-private" %> <br />

    <%= f.radio_button :privacy, "private" %>
    <%= f.label :privacy, "Private", :value => "private" %> <br />
    
    <%= f.label :terms_of_use, "I agree to the terms and conditions" %>
    <%= f.check_box :terms_of_use %> 

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
