<p id="notice"><%= notice %></p>

<h1>Explore</h1>
<table>
<%@groups.each do |group| %> 
<tr><td>
  <%=link_to group.name, group_path(group)%> <br />
  Group Leader: <%=group.group_leader.name%> <br />
  Location: <%=group.location%><br />
  Affiliations: <%group.projects.each do |project| %> 
    <%=project.name%>
  <%end%><br />
  <%=group.users.size%> member(s)
  <%= button_to "Join Group", join_group_path(group)%>
  </td></tr>
<%end%> 
</table>






