<h1>Profile </h1>
<table> 
	<tr>
		<td>
		<%=render partial: 'management'%>
		</td>
		<td>
			First Name: <%=@user.first_name%><br />
			Last Name: <%=@user.last_name%><br />
			Job Title: <%=@user.job%><br />
			Location: <%=@user.location%><br />
			Email: <%=@user.email%><br />
			Mobile: <%=@user.mobile%><br />
		</td>
	</tr>
</table>
