<%=render partial: 'management'%>
<div id="section">
	<h1>Profile </h1>
	First Name: <%=@user.first_name%><br />
	Last Name: <%=@user.last_name%><br />
	Job Title: <%=@user.job%><br />
	Location: <%=@user.location%><br />
	Email: <%=@user.email%><br />
	Mobile: <%=@user.mobile%><br />
</div>
