<h1>Profile </h1>
<table> 
	<tr>
		<td>
			<%=button_to "Edit", edit_user_registration_path, :method => 'get' %> 
			<%=button_to "Change Password", 'change_password', :method => 'get' %> 
			<%=button_to "Payment Options"%>
			<%=button_to "Delete Account" %>
		</td>
		<td>
			First Name: <%=@user.name%><br />
			Last Name: <br />
			Job Title: <%=@user.job%><br />
			Location: <%=@user.location%><br />
			Email: <%=@user.email%><br />
			Mobile: <%=@user.mobile%><br />
		</td>
	</tr>
</table>
