<div id="nav">
	<%=link_to "Edit Project", edit_project_path(:project_id => @project), :method => 'get'%><br />
	<%=link_to "Change Plan", change_project_plan_path(@project), :method => 'get'%><br />
	<%=link_to "Manage Participants", manage_project_path(@project), :method => 'get'%><br />
	<%=link_to "Transfer Leadership", transfer_project_leadership_path(@project), :method => 'get'%><br />
	<%=link_to "Add Affiliations", add_affiliations_path(@project), :method => 'get' %><br />
	<%=link_to "Done", project_path(:project_id => @project, :conversation_id => @project.conversations.first), :method => 'get'%><br />
</div>
