<%=render partial: 'management'%>
<div id="section">
	<h1>Change Plan</h1>
	<%=form_for @project, url: update_project_path(@project) do |f|%>
		Choose your plan:<br />
		<%= f.radio_button :plan, 'Standard', :checked => true%> 
		<%= f.label :plan, 'Standard', :value => 'standard' %> <br />

		<%= f.radio_button :plan, 'Premium'%> 
		<%= f.label :plan, 'Premium', :value => 'premium' %><br />

		<%= f.radio_button :plan, 'Enterprise'%> 
		<%= f.label :plan, 'Enterprise', :value => 'enterprise' %><br />

		<%=f.submit%>
	<%end%>
</div>
