<h1>Edit Project</h1>
<%= form_for @project, url: update_project_path(@project) do |f| %> 
	<%= f.label "Name:"%> 
	<%= f.text_field :name %><br />  

	<%= f.label "Project location:"%> 
	<%= f.text_field :location %><br /> 

	<%= f.label "Project scale:"%> 
	<%= f.text_field :scale %><br /> 

	Choose your privacy settings:<br />
	<%= f.label :privacy %><br />

	<%= f.radio_button :privacy, "public", :checked => true %>
    <%= f.label :privacy, "Public", :value => "public"  %> <br />
    
    <%= f.radio_button :privacy, "semi-private" %>
    <%= f.label :privacy, "Semi-Private", :value => "semi-private" %> <br />

    <%= f.radio_button :privacy, "private" %>
    <%= f.label :privacy, "Private", :value => "private" %> <br />

	<%=f.submit%>
<%end%>