<!DOCTYPE html>
<html>
<head>
  <title>HicommWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%if (user_signed_in?)%>
	<ul id="menu">
		<li><%=link_to "HiComm", welcome_path, :method => 'get'%></li>
		<li>Signed in as <%=link_to current_user.name, user_path(current_user)%></li>
		<li><%=link_to "Settings", manage_user_path(current_user), :method => 'get'%></li>
		<li><%=link_to "Notifications (#{notification_count})", notifications_path, :method => 'get'%></li>
		<li><%=link_to "Sign Out", destroy_user_session_path, :method => 'delete'%></li>
		<li>
			<%= form_tag(search_path, :method => "get", id: "search-form") do %>
				<%= text_field_tag :search, params[:search], placeholder: "Search" %>
				<%= submit_tag "Search" %>
			<% end %>
		</li>

	</ul> 
<%else%> 
	<ul id="menu"> 
		<li><%= link_to 'Sign In', user_session_path %></li>
		<li><%= link_to 'Sign Up', new_user_registration_path %></li>
	</ul>
<%end%>



   	<p class="notice"><%= notice %></p>
   	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
